@model SalesPerson

<h1>@Model.Name</h1>
@* <p>Order Count: @Model.OrderCount</p> *@

<h2>Orders</h2>
<table>
    <tr>
        <th>Order ID</th>
        <th>Date</th>
        <th>Amount</th>
    </tr>
    @foreach (var order in ViewBag.Orders)
    {
        <tr>
            <td>@order.Id</td>
            <td>@order.OrderDate.ToShortDateString()</td>
            @* <td>@order.Amount</td> *@
        </tr>
    }
</table>
